.container {
    width: 1024px;
    height: 300px;
    background-color: rgb(1, 43, 1);
    margin: 0 auto 0 auto;
}

header {
    background-color: rgb(28, 80, 28);
    min-height: 100px;
}

main {
    background-color: rgb(27, 116, 27);
    min-height: 300px;
}

.cards {
    background-color: rgb(27, 167, 27);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: rgb(224, 64, 112);
    min-height: 300px;
    width: 30%;
}
.card2 {
    background-color: rgb(207, 18, 75);
    min-height: 300px;
    width: 30%;
}
.card3 {
    background-color: rgb(90, 2, 28);
    min-height: 300px;
    width: 30%;
}